@import 'epretest/variable'

$splash-bg-color:   #fff;
$splash-color:      #fff;

.logo-img {
  height: 50px;
  width: 50px;
}

.splash {
  background-attachment: fixed;
  background-color: $splash-bg-color;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  color: $splash-primary-color;
  text-align: center;
}
