$splash-bg-color:       #fca311;
$splash-overlay-start:  rgba($splash-bg-color, .45);
$splash-overlay-end:    rgba($splash-bg-color, .45);
$splash-color:          #fff;

$btn-color:             #fff;

.logo-img {
  height: 50px;
}

.splash {
  background: linear-gradient($splash-overlay-start, $splash-overlay-end), url('../img/splash.jpeg');
  background-color: $splash-bg-color;
  background-size: cover;
  color: $splash-color;
  padding-bottom: 300px;
  padding-top: 50px;
  text-align: center;
}

.btn-default {
  background-image: none;
  border-color: transparent;
  color: $btn-color;
  text-shadow: none;
}

.free-try {
  margin-top: 40px;

  .btn {
    font-size: 20px;
    padding: 10px 20px;
  }
}
