.exam-card {
  >.tag {
    color:             $exam-card-color;
    background-color:  $exam-card-bg-color;
    border:            $exam-card-border;
    border-radius:     10px;
    display:           inline-block;
    float:             left;
    font-size:         24px;
    font-weight:       400;
    height:            $exam-card-tag-size;
    line-height:       $exam-card-tag-size;
    text-align:        center;
    width:             $exam-card-tag-size;
  }

  >.info {
    display:           inline-block;
    max-height:        $exam-card-tag-size;
    overflow:          hidden;
    padding:           0 15px;
    width:             70%;
  }

  >.info >.description {
    font-size:         18px;
  }

  >.info >.name {
    font-size:         20px;
    font-weight:       400;
  }

}
