.section-title {
  margin:     $section-vert-margin auto;
  text-align: center;
}

.section-name {
  font-size:   $section-name-font-size;
  margin:      0 auto;
}

.section-description {
  font-size:   $section-description-font-size;
}
