.subject-card {

  text-align: center;

  >img {
    display: inline-block;
    height:  128px;
    width:   128px;
  }

}

.subject-name {
  font-size:  36px;
  margin:     10px auto;
  text-align: center;
}
