$splash-bg-color:         #34282c;
$splash-color:            #fff;
$splash-padding-bottom:   300px;
$splash-padding-top:      70px;
$splash-overlay-opacity:  .6;

$exam-card-border:       0;
$exam-card-bg-color:     #fca311;
$exam-card-color:        #000;
$exam-card-tag-size:     85px;

$section-grey-bg-color:  #eee;

$title-font-size:    48px;
$subtitle-font-size: 30px;
$highlight-color:    #fca311;
