.logo-img {
  height: 50px;
}

@include splash($splash-color, $splash-bg-color, $splash-padding-bottom, $splash-padding-top);

.free-try {
  margin-top: 40px;
}

.exam-card {
  .title {
    background-color: $exam-card-bg-color;
    border:           1px solid $exam-card-bg-color;
    color:            $exam-card-color;
    padding:          0 $exam-card-horz-padding;
  }

  .subject-list {
    li {
      font-size: 20px;
      line-height: 40px;
      list-style: none;
    }
    padding:          $exam-card-vert-padding $exam-card-horz-padding;
  }

  border:         1px solid $exam-card-border;
  border-radius:  4px;
}
