.logo-img {
  height: 50px;
}

@include splash($splash-color, $splash-bg-color, $splash-padding-bottom, $splash-padding-top);

.free-try {
  margin-top: 40px;

  .btn {
    font-size: 20px;
    padding: 10px 20px;
  }
}

.exam-card {
  border:         1px solid $exam-card-border;
  border-radius:  4px;
  padding:        $exam-card-vert-padding $exam-card-horz-padding;
}
